@{
    ViewBag.Title = "Home Page";
}

<div class="row carousel-holder">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active slider1">
                   
                    
                        <h1 class="pull-right">
                            Feeling lonely or unmotivated to exercise ?<br/><br/>
                            <a href="@Url.Action("Register", "Account", new {id ="registerLink"})" class="btn btn-primary ">
                                Register
                            </a> and find your sport buddy here!
                            
                           
                         </h1> 
                   
                   
                </div>
                <div class="item slider2">
                    
                       <h1 class="pull-right">
                            Build your 
                            <a href="@Url.Action("Index", "UserPrfofile")" class="btn btn-default ">
                                Profile
                            </a> <br/><br/>
                            Get recommended match and make friends !
                          


                        </h1>
                    
                </div>
                <div class="item">
                    
                    <div class="slider3">
                        <h1 class="slider3intro pull-left col-md-5">
                            Join an
                            <a href="@Url.Action("Index", "Event")" class="btn btn-info ">
                                Exercise
                            </a>  session <br /><br />
                            Six different category to choose from
                        </h1>
                </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>

<div class="row introThumbnailTray text-center">

    <a href="@Url.Action("Index","Event",new { query = "basketball" })" data-toggle="tooltip" title="Basketball">
        <img class="introThumbnail"src="~/Content/images/basketball.jpg"/>
    </a>

    <a href="@Url.Action("Index","Event",new { query = "badminton" })"data-toggle="tooltip" title="Badminton">
        <img class="introThumbnail" src="~/Content/images/badminton.jpg" />
    </a>

    <a href="@Url.Action("Index","Event",new { query = "gym" })"data-toggle="tooltip" title="Gym">
        <img class="introThumbnail" src="~/Content/images/gym.jpeg" />
    </a>

    <a href="@Url.Action("Index","Event",new { query = "running" })"data-toggle="tooltip" title="Running">
        <img class="introThumbnail" src="~/Content/images/running.jpg" />
    </a>

    <a href="@Url.Action("Index","Event",new { query = "cycling" })"data-toggle="tooltip" title="Cycling">
        <img class="introThumbnail" src="~/Content/images/cyclist.jpg" />
    </a>

    <a href="@Url.Action("Index","Event",new { query = "football" })" data-toggle="tooltip" title="Football">
        <img class="introThumbnail" src="~/Content/images/football.jpg" />
    </a>
   
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}